.display-none{
    display: none;
}

.comment-item{
    border: 1px solid #0b97c4;
}

.comment-control{
    position: relative;
    float: right;
    padding-left: 10px;
}

.comment-delete{
    color: red;
}
